/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	font-family: Play;
	font-size: 100%;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */

* {
	box-sizing: border-box;
}
html {
	background-color: DarkBlue;
}
.container {
	background-color: MediumBlue;
}
.nav_bar {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	position: fixed;
	background-color: DarkBlue;
	padding: 1%;
	position: fixed;
	font-size: 2vw;
}
.logo {
	-webkit-flex: 1;
	flex: 1;
	color: #E5E5E5;
}
.nav {
	-webkit-flex: 1;
	flex: 1;
	display: flex;
}
.nav a {
	-webkit-flex: 1;
	flex: 1;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	color: #E5E5E5;
	position: relative;
	text-align: center;
}
.nav a:before {
	content: "";
	position: absolute;
	width: 70%;
	margin-left: 15%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #E5E5E5;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.nav a:hover:before {
	color: Green;
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
#background_wrap {
	width: 100%;
	background-color: MediumBlue;
}

.banner {
/*	background-image: linear-gradient(to bottom,
		rgba(15,36,72,0), rgba(15,36,72,.7) 35%,
		rgba(15,36,72,1) 70%);

	background-image: url(../Images/cloud_puffs_large.JPG);
	background-repeat: no-repeat;
	background-size: 100%;
*/
	background-color: MediumBlue;
	color: #E5E5E5;
	padding-top: 7%;
	width: 75%;
	margin: 0 auto;
}
h1 {
	margin-top: 8%;
	font-size: 6vw;
	text-align: left;
	text-shadow: 3px 3px 0 #FFFFE9, 5px 5px 0 MidnightBlue;
	letter-spacing: .05em;
	margin-left: 10%;
}
h2 {
	margin-top: 4%;
	margin-left: 10%;
	margin-right: 5%;
	font-size: 2.75vw;
	text-align: left;
	word-spacing: .15em;
}
.skills {

	padding-bottom: 5%;
	width: 60%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}
/*#first, #second {
	-webkit-flex: 1;
	flex: 1;
}
#second p:first-child {
	margin-bottom: 10%;
}
#second p:nth-child(2), #second p:nth-child(3) {
	margin-left: 40%;
	opacity: 0.6;
} */
.skills p {
	font-size: 3vw;
	margin-bottom: 2%;
	/*text-shadow:  1px 1px 0 #BC4C40;*/
	opacity: 1;
	/*position: relative;*/
	/*margin-left: -1500px;*/
	margin: 0 auto;
}

.work {
	background-color: LightGray;
	padding-top: 3%;
	padding-bottom: 10%;
}
.portfolio {
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	font-size: 1em;
	font-size: 1.5vw;
	clear: both;
	padding: 5% 5% 0 5%; 
}
#portfolio_headline {
	text-align: center;
	color: MediumBlue;
	padding-top: 3%;
	font-size: 2.5em;
	font-size: 5vw;
}
.project {
	text-align: center;
	font-size: 1em;
	font-size: 1.5vw;
	flex: 1;
	margin-left: 3%;
	margin-right: 3%;
	padding: 2%;
	background-color: Azure;
	border: 1px solid Black;
	border-radius: 4%;
}
.project:hover {
	border: 3px solid Black;
}
.project_text {
	text-align: left;
}
.project_text p:first-child {
	font-weight: bold;
}
.project_text p:last-child {
	font-weight: lighter;
	color: gray;
}

.project img {
	width: 100%;
	text-align: center;
}
.about {
	padding-top: 5%;
	background-color: #A69981;
}

#cartoon {
	width: 100%;
	background-color: #A69981;
	display: -webkit-flex;
	display: flex;	
}
#image {
	-webkit-flex: 2;
	flex: 2;
	padding: 0 2% 0 5%;
}
#image img {
	max-width: 100%;
	border-radius: 40%;
	/*border: 2px solid Black; */

}
#text {
	-webkit-flex: 8;
	flex: 8;
	width: 100%;
	text-align: left;
	font-size: 1.4em;
	font-size: 2.25vw;
	padding: 2%;
}
.social-media {
	display: flex;
	justify-content: space-around;
	padding: 5% 10% 10%;
}
.button {
	text-decoration: none;
	width: 19%;
	font-size: 1em;
	font-size: 1.5vw;
	background-color: #0165A3; 
	border-radius: 5%;
	/*border: 2px solid #000000; */
	text-align: center;
	vertical-align: center;
	padding: 2%;
	color: WhiteSmoke;
	background-image: -webkit-linear-gradient(top, #0000cd 0%, #0000b8 50%, #0000a4 100%);
	box-shadow: inset 0px 0px 0px 1px rgba(255,155,100, 0.4), 0 1px 3px #333333; 
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
}
.button i {
	margin-left: -10%;
	margin-right: 10%;
}
.button img {
	max-width: 15%;	
}
.button:hover {
	border: 1px solid #FFFFFF;
}
footer {
	font-size: 1.4em;
	font-size: 2.0vw;
	text-align: center;
	width: 100%;
	background-color: rgb(15,36,72);
	padding: 3% 10%;
	color: #E5E5E5;
}
@media (max-width:480px) {
	.nav_bar {
		font-size: 3.5vw;
	}
	.nav {
		-webkit-flex: 3;
		flex: 3;
	}
	.banner {
		width: 100%;
	}
	h1 {
		text-shadow: 1px 1px 0 #FFFFE9, 2px 2px 0 MidnightBlue;
	}
	h2 {
		font-size: 5vw;
	}
	.skills {
		width: 100%;
	}
	.skills p {
		font-size: 5vw;
	}
	.work {
	background-color: LightGray;
	padding-top: 1%;
	padding-bottom: 2%;
	}
	.portfolio {
	font-size: 1em;
	font-size: 1.5vw;
	padding: 2% 2% 0 2%; 
	display: block;
	}
	#portfolio_headline {
	text-align: center;
	color: MediumBlue;
	padding-top: 3%;
	font-size: 2.5em;
	font-size: 5vw;
	}
	.project {
		text-align: center;
		font-size: 1em;
		font-size: 4vw;
		padding: 5%;
		background-color: Azure;
		border: 1px solid Black;
		border-radius: 4%;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 4%;
	}
	.project img {
		width: 100%;
	}
	.about {
		padding-top: 2%;
		background-color: #A69981;
	}

	#cartoon {
		width: 100%;
		background-color: #A69981;
		padding: 2%;
		display: block;
	}
	#image {
		padding: 3%;
		width: 60%;
		margin: 0 auto;
	}
	#image img {
		max-width: 100%;
		border-radius: 10%;
		border: 1px solid Black;
	}
	#text {
		width: 100%;
		text-align: center;
		font-size: 1.4em;
		font-size: 5vw;
		padding: 3%;
	}
	.social-media {
		padding: 2% 10% 5%;
		display: block;
	}
	.button {
		display: block;
		margin: 0 auto;
		margin-bottom: 5%;
		width: 45%;
		font-size: 1em;
		font-size: 4vw;
		padding: 2%;
	}
	footer {
		font-size: 3em;
		font-size: 5vw;
		padding: 3% 10%;
	}
}


